html{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    font-size: 18px;
}

footer{
  font-size: 14px;
}

.fil_ariane{
  margin-left: 2cm;
  margin-right: 2cm;
}

#aliments-non-trouves {
            max-height: 500px;
            overflow-y: auto;
}

/* Style pour l'infobulle */
input[type="file"] {
    position: relative;
}

input[type="file"]::after {
    content: attr(title);
    position: absolute;
    left: 0;
    top: 100%;
    background: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: pre;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    z-index: 1000;
    width: max-content;
}

input[type="file"]:hover::after {
    opacity: 1;
    visibility: visible;
}