.content{
    padding: 0cm 6cm 0cm 6cm;
}

.content_aliments{
    padding: 0.5cm 5cm 0cm 5cm;
    margin-top: 0.5cm;
}

.info_user{
    padding: 0.5cm 6cm 0.5cm 6cm;
}

.content_gerer_diete{
    padding: 0.5cm 6cm 1cm 6cm;
}

.create_diet{
    text-align: center;
    padding-bottom: 1cm;
}

.content_pdf{
    padding: 2cm;
}

.table td{
    text-align: center;
}

.btn_changer_imprimer{
    padding-bottom: 2cm;
}

.green_dot {
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.red_dot {
        height: 25px;
        width: 25px;
        background-color: red;
        border-radius: 50%;
        display: inline-block;
}