.content{
    padding: 0cm 6cm 0cm 6cm;
}

.content_aliments{
    padding: 0.5cm 5cm 0cm 5cm;
    margin-top: 0.5cm;
}

.info_user{
    padding: 0.5cm 6cm 0.5cm 6cm;
}

.content_gerer_diete{
    padding: 0.5cm 6cm 1cm 6cm;
}

.create_diet{
    text-align: center;
    padding-bottom: 1cm;
}

.content_pdf{
    padding: 2cm;
}

.table td{
    text-align: center;
}

.green_dot {
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.red_dot {
        height: 25px;
        width: 25px;
        background-color: red;
        border-radius: 50%;
        display: inline-block;
}

.edit_window{
    width: 80%;
    margin: 30px auto; /* center element */
    padding: 30px;
    max-width: 800px;
    border-radius: 10px;
}

.imc_window{
    width: 80%;
    margin: 30px auto; /* center element */
    padding: 30px;
    max-width: 1200px;
    border-radius: 10px;

}

.diete_window{
    width: 80%;
    margin: 30px auto; /* center element */
    padding: 30px;
    max-width: 1200px;
    border-radius: 10px;
}

.table_window{
    width: 80%;
    margin: 30px auto; /* center element */
    padding: 30px;
    max-width: 1200px;
    min-width: 100px;
    border-radius: 10px;
}

.debug{
    background-color: red;
}

.description{
    height: 75px;
}

.input-radio{
    padding-right: 0;
}

.colonne_table_30{
    width: 30%;
}

.colonne_table_20{
    width: 20%;
}

.colonne_table_10{
    width: 10%;
}

.flash_messages{
    width: 90%;
    margin: 10px auto; /* center element */
    max-width: 800px;
}

@media screen and (max-width: 1200px) {
    .third {
      display: none;
    }
  
    .table_window{
        font-size: 0.8em;
    }
}

@media screen and (max-width: 600px) {
    .secondary {
      display: none;
    }
  
    .table_window{
        font-size: 0.8em;
    }
}

.dashboard-wrapper{
    width: 80%;
    margin: 30px auto; /* center element */
    padding: 20px;
    max-width: 1200px;
    border-radius: 10px;
}

.card-title{
    font-weight: 700;
    font-size: 18px;
    color: #474d58;
}

.card-2-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 25px;
}

.card-sub-element {
    border-radius: 15px;
    height: 135px;
    padding: 20px;
}

.color-yellow{
    background: #fff4de;
    color: #ffad44;
}

.color-blue{
    background: #e8f4ff;
    color: #3699ff;
}


.color-green{
    background: #e8fff4;
    color: #25c997;
}

.color-red{
    background: #ffe8e8;
    color: #f64e60;
}

.content_hidden{
    display: none;
}

@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish-Black.ttf');
    font-weight: 900;
}

.widget_numbers{
    font-family: 'Mulish';
    font-weight: 900;
    font-weight: normal;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.info-little{
    font-size: 0.8em;
    font-weight: 400;
}