{% extends 'base.html' %}

{% block content %}
{% set page = 'reglages' %}

{% set place = ["accueil","reglages"] %}
{% with breadcrumb=place %}
    {% include "navbar.html" %}
{% endwith %}

<title>{% block title %} Réglages {% endblock %}</title>

<div class="edit_window bg-light">
    <form method="POST" action="{{ url_for('controllers.modifier_utilisateur', id=utilisateur.id) }}" id="modifierForm"  enctype="multipart/form-data">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="titre">Nom</span>
                        <input type="text" id="nom" name="nom" class="form-control" placeholder="Nom" value="{{ utilisateur.nom }}" required>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="input-group">
                    <input type="text" id="prenom" name="prenom" class="form-control" placeholder="Prénom" value="{{ utilisateur.prenom }}" required>
                    <span class="input-group-text" id="titre">Prénom</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="age">Âge</span>
                        <input type="number" id="age" name="age" class="form-control" placeholder="Âge" value="{{ utilisateur.age }}" required>
                        <span class="input-group-text" id="age">ans</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="taille">Taille</span>
                        <input type="number" id="taille" name="taille" class="form-control" placeholder="Taille" value="{{ utilisateur.taille }}" required>
                        <span class="input-group-text" id="taille">cm</span>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="poids">Poids</span>
                        <input type="number" id="poids" name="poids" class="form-control" placeholder="Poids" value="{{ utilisateur.poids }}" required>
                        <span class="input-group-text" id="poids">kg</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="input-group mb-3">
                        <input type="text" id="mail" name="mail" class="form-control" placeholder="Mail" value="{{ utilisateur.mail_partie1() }}" readonly>
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <input type="text" id="boite_mail" name="boite_mail" class="form-control" placeholder="Boite mail" value="{{ utilisateur.mail_partie2() }}" readonly>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-row text-center">
                    <div class="input-group mb-3 d-flex justify-content-center">
                        <div class="form-check col-md-2">
                            {% if utilisateur.sexe == "homme" %}
                            <input class="form-check-input" value="homme" type="radio" name="sexe" id="flexRadioDefault1" checked required>
                            {% else %}
                            <input class="form-check-input" value="homme" type="radio" name="sexe" id="flexRadioDefault1" required>
                            {% endif %}
                            <label class="form-check-label" for="flexRadioDefault1">
                                Homme
                            </label>
                        </div>
                        <div class="form-check col-md-2">
                            {% if utilisateur.sexe == "femme" %}
                            <input class="form-check-input" value="femme" type="radio" name="sexe" id="flexRadioDefault2" checked required>
                            {% else %}
                            <input class="form-check-input" value="femme" type="radio" name="sexe" id="flexRadioDefault2" required>
                            {% endif %}
                            <label class="form-check-label" for="flexRadioDefault2">
                                Femme
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row text-center">
                <div class="col-md-12">
                    <input type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalConfirmation" value="Modifier">
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Fenêtre de modification de l'utilisateur -->
<div class="modal fade" id="modalConfirmation" tabindex="-1" aria-labelledby="modalConfirmationLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalConfirmationLabel">Modifier</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
    <div class="modal-body">
      <p>Voulez-vous vraiment effectuer les modifications ?</p>
    </div>
    <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="document.getElementById('modifierForm').submit();">Confirmer</button>
        </div>
      </div>
    </div>
  </div>
<!-- Fenêtre de modification de l'utilisateur -->

{% if utilisateur.poids and utilisateur.taille %}
<div class="imc_window bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-3">

                    {% set min = 0 %}
                    {% set max = 40 %}

                    {% set imc = (utilisateur.poids / ((utilisateur.taille/100) * (utilisateur.taille/100)))|round(1) %}
                    {% set imc_progress = (imc / max) * 100 %}

                    <p class="text-center">Votre IMC est de {{ imc }}</p>
                        {% if imc < 18.5 %}
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{imc_progress}}%" aria-valuenow="{{ imc }}" aria-valuemin="{{ min }}" aria-valuemax="{{ max }}">Maigreur</div>
                        </div>
                        {% elif imc < 25 %}
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: {{imc_progress}}%" aria-valuenow="{{imc}}" aria-valuemin="{{ min }}" aria-valuemax="{{ max }}">Normal</div>
                        </div>
                        {% elif imc < 30 %}
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: {{imc_progress}}%" aria-valuenow="{{imc}}" aria-valuemin="{{ min }}" aria-valuemax="{{ max }}">Surpoids</div>
                        </div>
                        {% elif imc < 35 %}
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: {{imc_progress}}%" aria-valuenow="{{imc}}" aria-valuemin="{{ min }}" aria-valuemax="{{ max }}">Obésité modérée</div>
                        </div>
                        {% elif imc > 40 %}
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="40" aria-valuemin="{{ min }}" aria-valuemax="{{ max }}">Obésité sévère</div>
                        </div>
                        {% else %}
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: {{imc_progress}}%" aria-valuenow="{{imc}}" aria-valuemin="{{ min }}" aria-valuemax="{{ max }}">Obésité sévère</div>
                        </div>
                        {% endif %}

                        <div class="progress" style="margin-top: 0.5cm;">
                            <div class="progress-bar" role="progressbar" style="width: {{ (18.5/max)*100 }}%" aria-valuenow="18.5" aria-valuemin="{{ min }}" aria-valuemax="{{ max }}">Maigreur</div>
                            <div class="progress-bar bg-success" role="progressbar" style="width: {{ (6.5 / max)*100 }}%" aria-valuenow="25" aria-valuemin="{{ min }}" aria-valuemax="{{ max }}">Normal</div>
                            <div class="progress-bar bg-warning" role="progressbar" style="width: {{ (5 / max)*100 }}%" aria-valuenow="30" aria-valuemin="{{ min }}" aria-valuemax="{{ max }}">Surpoids</div>
                            <div class="progress-bar bg-danger" role="progressbar" style="width: {{ (5 / max)*100 }}%" aria-valuenow="35" aria-valuemin="{{ min }}" aria-valuemax="{{ max }}">Obésité modérée</div>
                            <div class="progress-bar bg-info" role="progressbar" style="width: {{ (5 / max)*100 }}%" aria-valuenow="40" aria-valuemin="{{ min }}" aria-valuemax="{{ max }}">Obésité sévère</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endif %}

{% endblock %}