{% extends 'base.html' %}

{% block content %}
{% set page = 'accueil' %}

{% set place = ["accueil"] %}
{% with breadcrumb=place %}
    {% include "navbar.html" %}
{% endwith %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/pages.css') }}">

<script>
  {% if utilisateur.sexe == 'homme' %}
  {% set calories = (((13.707*utilisateur.poids)+(492.3*(utilisateur.taille/100))-(6.673*utilisateur.age)+77.607)* 1.55)|round|int %}
  {% else %}
  {% set calories = (((9.740*utilisateur.poids)+(172.9*(utilisateur.taille/100))-(4.737*utilisateur.age)+667.051)* 1.55)|round|int %}
  {% endif %}

  const calories = {{ calories }};

  {% if diete %}
    {% set total_macros = diete.total_proteines()*4 + diete.total_lipides()*9 + diete.total_glucides()*4 %}

    {% if total_macros == 0 %}
        {% set total_macros = 1 %}
    {% endif %}

    {% set pourcentage_proteines = (diete.total_proteines()*4 / total_macros * 100)|round|int %}
    {% set pourcentage_lipides = (diete.total_lipides()*9 / total_macros * 100)|round|int %}
    {% set pourcentage_glucides = (diete.total_glucides()*4 / total_macros * 100)|round|int %}
  {% else %}
    {% set pourcentage_proteines = 1 %}
    {% set pourcentage_lipides = 1 %}
    {% set pourcentage_glucides = 1 %}
  {% endif %}

  const pourcentage_proteines = {{ pourcentage_proteines }};
  const pourcentage_lipides = {{ pourcentage_lipides }};
  const pourcentage_glucides = {{ pourcentage_glucides }};

  const objectif_proteines = {{ (utilisateur.poids * 1.8)|round|int }} + " - " + {{ (utilisateur.poids * 2.2)|round|int }}
  const objectif_lipides = {{ (utilisateur.poids * 0.8)|round|int }} + " - " + {{ (utilisateur.poids * 1)|round|int }}
  const objectif_glucides = {{ (calories * 0.4 / 4)|round|int }} + " - " + {{ (calories * 0.6 / 4)|round|int }}
</script>

<div class="dashboard-wrapper">
  <!-- Ligne 1 -->
  <div class="container">
      <div class="row">
        <!-- Ligne 1 Colonne 1 -->
          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-body">
                <h4 class="card-title text-center">Profil</h4>
                <div class="card-2-2">
                  <div class="card-sub-element widget_numbers color-yellow">
                      <h3> {{ utilisateur.age }} ans </h3>
                      <span class="info-little"> {{ utilisateur.prenom }} {{ utilisateur.nom }}</span>
                  </div>
                  <div class="card-sub-element widget_numbers color-blue">
                      <h3> {{ utilisateur.taille }} cm </h3>
                      <span class="info-little"> {{ utilisateur.sexe }} </span>
                  </div> 
                  <div class="card-sub-element widget_numbers color-red">
                      <h3> {{ utilisateur.poids }} kg </h3>
                      
                      {% set imc = (utilisateur.poids / ((utilisateur.taille/100) * (utilisateur.taille/100)))|round(1) %}
                      <span class="info-little"> IMC = {{ imc }} </span>
                  </div> 
                  <div class="card-sub-element widget_numbers color-green">
                      <h3> Actif </h3>
                      <span class="info-little badge badge-info">
                        <span class="badge badge-info">Vegan</span>
                      </span>
                  </div>
                </div> 
              </div>
            </div>
          </div>
          <!-- Ligne 1 Colonne 2 -->
          <div class="col-md-4">
              <div class="card mb-4">
                  <div class="card-body text-center">
                      <h4 class="card-title">Macronutriments</h4>
                      <h6 class="text-muted card-subtitle mb-2"></h6>
                      <div class="card_container circle_chart">
                            <canvas id="macro_chart"></canvas>
                      </div>
                  </div>
              </div>
          </div>
         <!-- Ligne 1 Colonne 3 -->
          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-body">
                  <h4 class="card-title text-center">Besoins</h4>
                  <h6 class="text-muted card-subtitle mb-2"></h6>

                  <div class="card_container">
                      <canvas id="evolution_chart" width="300" height="250"></canvas>
                  </div>
              </div>
            </div>
          </div>
      </div>
  </div>

  <!-- Ligne 2 -->
  <div class="container">
      <div class="row">
          <!--div class="col-md-4">
              <div class="card mb-4">
                <div class="card-body">
                  <h4 class="card-title text-center">Particularités</h4>
                  <span class="info-little badge badge-info">
                    <span class="badge badge-info">Vegan</span>
                  </span>
                </div>
              </div>
            <div class="card mb-4">
            <div class="card-body text-center">
                <h4 class="card-title">Repas</h4>
                <h6 class="text-muted card-subtitle mb-2"></h6>
                  
                <div class="card_container content_hidden">
                    <canvas id="objectifs_chart" width="400" height="435"></canvas>
                </div>
            </div>
          </div>
        </div-->
          <!-- Ligne 2 Colonne 2 -->
          <div class="col-md-12">
            <div class="card mb-4">
              <div class="card-body">
                {% if diete %}
                <div class="gauche-droite">
                    <button class="btn btn-lg gauche-droite" type="button" data-toggle="collapse" data-target="#element1Content" aria-expanded="true" aria-controls="element1Content">
                      <i class="fa fa-angle-down"></i>
                    </button>
                    <span class="card-title">{{ diete.titre_diete}}</span>
                    <button class="btn btn-lg gauche-droite" type="button" data-toggle="collapse" data-target="#element1Content" aria-expanded="true" aria-controls="element1Content">
                      <i class="fa fa-angle-down"></i>
                    </button>
                </div>
                  <h6 class="text-muted card-subtitle mb-2"></h6>
                  <div id="element1Content" class="collapse custom-collapse" aria-labelledby="element1Header" data-parent="#monAccordeon">
                    {% with diete=diete %}
                        {% include 'diete/liste_aliments_diete_test.html' %}    
                    {% endwith %}
                  {% else %}
                    <h2 class="text-center">Aucune diète choisie</h2>
                  {% endif %}
                </div>                  
              </div>
          </div>
          </div>
      </div>
  </div>

  <!-- Ligne 3 -->
  <div class="container">
    <div class="row">
      
    </div>
  </div>

  <!-- Ligne 4 -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% if diete %}
          <div class="btn_changer_imprimer">
            <div class="d-flex justify-content-center">
              <div class="section text-center">
                <a href="{{ url_for('controllers.changer_diete',id_utilisateur=utilisateur.id) }}" class="btn btn-primary">Changer de diète</a>
                <a href="{{ url_for('controllers.print_diete_pdf',id_diete=diete.id) }}" class="btn btn-primary" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
                <a href="{{ url_for('controllers.export_csv',id_diete=diete.id) }}" class="btn btn-primary"><i class="fa fa-file-excel-o"></i></a>
              </div>
            </div>
          </div>
        {% else %}
          <div class="btn_changer_imprimer">
            <div class="d-flex justify-content-center">
              <div class="section text-center">
                <a href="{{ url_for('controllers.changer_diete',id_utilisateur=utilisateur.id) }}" class="btn btn-primary">Choisir une diète</a>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>


<script src="{{ url_for('static', filename='js/accueil.js') }}"></script>

{% endblock %}
