{% extends 'base.html' %}

{% block content %}
{% set page = 'accueil' %}

{% set place = ["accueil"] %}
{% with breadcrumb=place %}
    {% include "navbar.html" %}
{% endwith %}

<script>
  {% if utilisateur.age and utilisateur.poids and utilisateur.taille %}
    {% if utilisateur.sexe == 'homme' %}
      {% set calories = (((13.707*utilisateur.poids)+(492.3*(utilisateur.taille/100))-(6.673*utilisateur.age)+77.607)* 1.55)|round|int %}
    {% else %}
      {% set calories = (((9.740*utilisateur.poids)+(172.9*(utilisateur.taille/100))-(4.737*utilisateur.age)+667.051)* 1.55)|round|int %}
    {% endif %}

  const calories = {{ calories }};

  {% if diete %}
    {% set total_macros = diete.total_proteines()*4 + diete.total_lipides()*9 + diete.total_glucides()*4 %}

    {% if total_macros == 0 %}
        {% set total_macros = 1 %}
    {% endif %}

    {% set pourcentage_proteines = (diete.total_proteines()*4 / total_macros * 100)|round|int %}
    {% set pourcentage_lipides = (diete.total_lipides()*9 / total_macros * 100)|round|int %}
    {% set pourcentage_glucides = (diete.total_glucides()*4 / total_macros * 100)|round|int %}
  {% else %}
    {% set pourcentage_proteines = 1 %}
    {% set pourcentage_lipides = 1 %}
    {% set pourcentage_glucides = 1 %}
  {% endif %}

  const pourcentage_proteines = {{ pourcentage_proteines }};
  const pourcentage_lipides = {{ pourcentage_lipides }};
  const pourcentage_glucides = {{ pourcentage_glucides }};

    const objectif_proteines = {{ (utilisateur.poids * 1.8)|round|int }} + " - " + {{ (utilisateur.poids * 2.2)|round|int }}
    const objectif_lipides = {{ (utilisateur.poids * 0.8)|round|int }} + " - " + {{ (utilisateur.poids * 1)|round|int }}
    const objectif_glucides = {{ (calories * 0.4 / 4)|round|int }} + " - " + {{ (calories * 0.6 / 4)|round|int }}

  {% endif %}

   
</script>

<div class="dashboard-wrapper">
  <!-- Ligne 1 -->
  <div class="container">
  {% if utilisateur.age and utilisateur.poids and utilisateur.taille %}
      <div class="row">
        <!-- Ligne 1 Colonne 1 -->

          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-body">
                <h4 class="card-title text-center">Profil</h4>
                <div class="card-2-2">
                  <div class="card-sub-element widget_numbers color-yellow">
                      <h3 class="card_info"> {{ utilisateur.age }} ans </h3>
                  </div>
                  <div class="card-sub-element widget_numbers color-blue">
                      <h3 class="card_info"> {{ utilisateur.taille }} cm </h3>
                  </div> 
                  <div class="card-sub-element widget_numbers color-red">
                      <h3 class="card_info"> {{ utilisateur.poids }} kg </h3>
                    </div> 
                    <div class="card-sub-element widget_numbers color-green">
                    {% set imc = (utilisateur.poids / ((utilisateur.taille/100) * (utilisateur.taille/100)))|round(1) %}
                      <h3 class="card_info">{{ imc }} imc</h3>
                      <!--span class="info-little">Protéines : {{ (utilisateur.poids * 2.2)|round|int }} g </span>
                      <span class="info-little">Lipides : {{ (utilisateur.poids * 1)|round|int }} g </span>
                      <span class="info-little">Sel : 6 g </span-->
                  </div>
                </div> 
              </div>
            </div>
          </div>

          <!-- Ligne 1 Colonne 2 -->
          <div class="col-md-4">
              <div class="card mb-4">
                  <div class="card-body text-center">
                      <h4 class="card-title">Macronutriments</h4>
                      <h6 class="text-muted card-subtitle mb-2"></h6>
                      <div class="card_container circle_chart">
                            <canvas id="macro_chart"></canvas>
                      </div>
                  </div>
              </div>
          </div>
         <!-- Ligne 1 Colonne 3 -->

          <!-- not displayed -->
          <div style="display:none;" class="col-md-4">
            <div class="card mb-4">
              <div class="card-body">
                  <h4 class="card-title text-center">Besoins</h4>
                  <h6 class="text-muted card-subtitle mb-2"></h6>

                  <div class="card_container">
                      <canvas id="evolution_chart" width="300" height="250"></canvas>
                  </div>
              </div>
            </div>
          </div>
          <!-- end not displayed -->
          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-body">
                  <h4 class="card-title text-center">Besoins</h4>
                  <h6 class="text-muted card-subtitle mb-2"></h6>

                  <div class="card_container">
                      <input type="range" class="form-range" min="0" max="4" step="1" id="customRange">

                      <div class="align_items_horizontal gap_10 justify_content_center">
                        <p id="activityLabel" class="text-center font-weight-bold">Actif · 1,55</p>
                        <i id="info_activity" class="fa fa-info-circle vertical_center" data-toggle="tooltip" title="Vous faites régulièrement des exercices physiques (3 à 5 fois par semaine)"></i>
                      </div>
                      
                      <input type="range" class="form-range" min="0" max="2" step="1" id="customRangeType">
                      
                      <p class="text-center font-weight-bold" id="activityLabelType">Maintien · 1</p>

                      <div>
                          {% if utilisateur.sexe == 'homme' %}
                            {% set calories_HB = (13.707*utilisateur.poids)+(492.3*(utilisateur.taille/100))-(6.673*utilisateur.age)+77.607 %}
                            {% set calories_BA = ((1.083*utilisateur.poids**0.48)*(utilisateur.taille/100)**0.5*(utilisateur.age)**-0.13)*(1000/4.1855) %}
                          {% else %}
                            {% set calories_HB = (9.740*utilisateur.poids)+(172.9*(utilisateur.taille/100))-(4.737*utilisateur.age)+667.051 %}
                            {% set calories_BA = ((0.963*utilisateur.poids**0.48)*(utilisateur.taille/100)**0.5*(utilisateur.age)**-0.13)*(1000/4.1855) %}
                          {% endif %}                        
                        
                        {% set calories_OX = (14.2*utilisateur.poids)+593 %}
                        {% set calories_SC = (15.057*utilisateur.poids)+692.2 %}
                        
                        <p id="totalMB_HB" style="display: none;">{{ calories_HB }}</p>
                        <p id="totalMB_BA" style="display: none;">{{ calories_BA }}</p>
                        <p id="totalMB_OX" style="display: none;">{{ calories_OX }}</p>
                        <p id="totalMB_SC" style="display: none;">{{ calories_SC }}</p>

                        <div class="align_items_horizontal gap_2 justify_content_left">
                          <p>Harris & Benedict : </p>
                          <p class="font-weight-bold" id="caloriesLabel_HB">{{ (calories_HB * 1.55)|round|int }}</p>
                          <p class="font-weight-bold">kcal</p>
                        </div>
                        <div class="align_items_horizontal gap_2 justify_content_left">
                          <p> Black et al. : </p>
                          <p class="font-weight-bold" id="caloriesLabel_BA">{{ (calories_BA * 1.55)|round|int }}</p>
                          <p class="font-weight-bold">kcal</p>
                        </div>
                        <div class="align_items_horizontal gap_2 justify_content_left">
                          <p> Schofield : </p>
                          <p class="font-weight-bold" id="caloriesLabel_SC">{{ (calories_SC * 1.55)|round|int }}</p>
                          <p class="font-weight-bold">kcal <i class="fa fa-info-circle" data-toggle="tooltip" title="Valable uniquement pour les hommes de 18-29 ans" data-placement="right"></i></p>
                        </div>
                        <div class="align_items_horizontal gap_2 justify_content_left">
                          <p> Oxford : </p>
                          <p class="font-weight-bold" id="caloriesLabel_OX">{{ (calories_OX * 1.55)|round|int }}</p>
                          <p class="font-weight-bold">kcal <i class="fa fa-info-circle" data-toggle="tooltip" title="Prend uniquement le poids en compte" data-placement="right"></i></p>
                        </div>
                      </div>

                  </div>
              </div>
            </div>

          </div>
        </div>
      </div>
  {% else %}
  <div class="row">
    <div class="col-md-12 mb-4 bg-light p-4 rounded">
      <h4 class="text-center mb-4">Veuillez renseigner votre taille et votre poids pour accéder à votre tableau de bord personnalisé.</h4>
          <div class="section text-center mb-4">
            <a href="{{ url_for('controllers.reglages',id_utilisateur=utilisateur.id) }}" class="btn btn-lg btn-primary">Renseigner mes informations</a>
          </div>
    </div>
  </div>
  {% endif %}
  <!-- Ligne 2 -->
  <div class="container">
      <div class="row">
          <!--div class="col-md-4">
              <div class="card mb-4">
                <div class="card-body">
                  <h4 class="card-title text-center">Particularités</h4>
                  <span class="info-little badge badge-info">
                    <span class="badge badge-info">Vegan</span>
                  </span>
                </div>
              </div>
            <div class="card mb-4">
            <div class="card-body text-center">
                <h4 class="card-title">Repas</h4>
                <h6 class="text-muted card-subtitle mb-2"></h6>
                  
                <div class="card_container content_hidden">
                    <canvas id="objectifs_chart" width="400" height="435"></canvas>
                </div>
            </div>
          </div>
        </div-->
          <!-- Ligne 2 Colonne 2 -->
          <div class="col-md-12">
            <div class="card mb-4">
              <div class="card-body">
                {% if diete %}
                <div class="gauche-droite">
                    <button class="btn btn-lg gauche-droite" type="button" data-toggle="collapse" data-target="#element1Content" aria-expanded="true" aria-controls="element1Content">
                      <i class="fa fa-angle-down"></i>
                    </button>
                    <span class="card-title">{{ diete.titre_diete}}</span>
                    <button class="btn btn-lg gauche-droite" type="button" data-toggle="collapse" data-target="#element1Content" aria-expanded="true" aria-controls="element1Content">
                      <i class="fa fa-angle-down"></i>
                    </button>
                </div>
                  <h6 class="text-muted card-subtitle mb-2"></h6>
                  <div id="element1Content" class="collapse custom-collapse" aria-labelledby="element1Header" data-parent="#monAccordeon">
                    {% with diete=diete %}
                        {% include 'diete/liste_aliments_diete.html' %}    
                    {% endwith %}
                  {% else %}
                    <h2 class="text-center">Aucune diète choisie</h2>
                  {% endif %}
                </div>                  
              </div>
          </div>
          </div>
      </div>
  </div>

  <!-- Ligne 3 -->
  <div class="container">
    <div class="row">
      
    </div>
  </div>

  <!-- Ligne 4 -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% if diete %}
          <div class="btn_changer_imprimer">
            <div class="d-flex justify-content-center">
              <div class="section text-center">
                <a href="{{ url_for('controllers.changer_diete',id_utilisateur=utilisateur.id) }}" class="btn btn-primary" data-toggle="tooltip" title="Changer de diète"><i class="fa fa-repeat"></i></a>
                <a href="{{ url_for('controllers.voir_diete',id=diete.id) }}" class="btn btn-primary" data-toggle="tooltip" title="Détail diète"><i class="fa fa-eye"></i></a>
                <a href="{{ url_for('controllers.print_diete_pdf',id_diete=diete.id) }}" class="btn btn-primary" target="_blank" data-toggle="tooltip" title="Exporter en PDF"><i class="fa fa-file-pdf-o"></i></a>
                <a href="{{ url_for('controllers.export_csv',id_diete=diete.id) }}" class="btn btn-primary" data-toggle="tooltip" title="Exporter en CSV"><i class="fa fa-file-excel-o"></i></a>
                <a href="{{ url_for('controllers.envoyer_mail',id_diete=diete.id) }}" class="btn btn-primary" data-toggle="tooltip" title="Envoyer par mail"><i class="fa fa-envelope-o"></i></a>
              </div>
            </div>
          </div>
        {% else %}
          <div class="btn_changer_imprimer">
            <div class="d-flex justify-content-center">
              <div class="section text-center">
                <a href="{{ url_for('controllers.changer_diete',id_utilisateur=utilisateur.id) }}" class="btn btn-lg btn-primary">Choisir une diète</a>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/accueil.js') }}"></script>

{% endblock %}
