{% extends 'base.html' %}

{% block content %}
{% set page = 'aliments' %}

{% set place = ["accueil","aliments","modifier_aliment"] %}
{% with breadcrumb=place %}
    {% include "navbar.html" %}
{% endwith %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/pages.css') }}">
<div class="content">
<h1 class="title">{% block title %} Aliments {% endblock %}</h1>
<div class="content_aliments bg-light">
    <div>
        <form method="POST" action="{{ url_for('modifier_aliment_post', id=aliment.id) }}"  enctype="multipart/form-data">
            <div class="form-row">
                <div class="input-group mb-3 col-md-6">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="titre">Titre</span>
                    </div>
                    <input type="text" id="titre" name="titre" class="form-control" placeholder="Titre" value="{{ aliment.titre }}" required>
                </div>
                <div class="input-group mb-3 col-md-6">
                    <input type="number" id="kcal" name="kcal" class="form-control" placeholder="Kcal" value="{{ aliment.kcal }}" required>
                    <div class="input-group-append">
                        <span class="input-group-text" id="kcal">Kcal</span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="input-group mb-3 col-md-4">
                    <input type="number" id="proteines" name="proteines" class="form-control" placeholder="Protéines" value="{{ aliment.proteines }}" required>
                    <div class="input-group-append">
                        <span class="input-group-text" id="proteines">Protéines</span>
                    </div>
                </div>
                <div class="input-group mb-3 col-md-4">
                    <input type="number" id="glucides" name="glucides" class="form-control" placeholder="Glucides" value="{{ aliment.glucides }}" required>
                    <div class="input-group-append">
                        <span class="input-group-text" id="glucides">Glucides</span>
                    </div>
                </div>
                <div class="input-group mb-3 col-md-4">
                    <input type="number" id="lipides" name="lipides" class="form-control" placeholder="Lipides" value="{{ aliment.lipides }}" required>
                    <div class="input-group-append">
                        <span class="input-group-text" id="lipides">Lipides</span>
                    </div>
                </div>  
            </div>
            <div class="form-row">
                <div class="input-group mb-3 col-md-5">
                    <select id="categorie" name="categorie" class="form-control" value="{{ aliment.categorie }}" required>
                        <option value="légume">Légume</option>
                        <option value="boisson">Boisson</option>
                        <option value="féculent">Féculent</option>
                        <option value="fruit">Fruit</option>
                        <option value="légumineuse">Légumineuse</option>
                        <option value="matière grasse">Matière grasse</option>
                        <option value="produit laitier">Produit laitier</option>
                        <option value="poisson">Poisson</option>
                        <option value="viande">Viande</option>
                        <option value="sucrerie">Sucrerie</option>
                        <option value="autre">Autre</option>
                    </select>    
                </div>
                <div class="input-group mb-3 col-md-7">
                    <input class="form-control" type="file" id="fichier_photo" name="fichier_photo">
                    {% if aliment.photo != '' and aliment.photo != None %}
                    <span class="input-group-text">
                        {% if aliment.photo %}
                            {{ aliment.photo }}
                        {% endif %}
                    </span>
                    {% endif %}
                </div>
            </div>
            
            <div class="form-row">
                <div class="input-group mb-3 col-md-9">
                    <span class="input-group-text">Description</span>
                    <textarea class="form-control" id="description" name="description" aria-label="With textarea">{{ aliment.description }}</textarea>
                </div>
                <div class="input-group mb-3 col-md-2">
                    <div class="form-check">
                        {% if aliment.unite == 0 %}
                        <input class="form-check-input" value="0" type="radio" name="unite" id="flexRadioDefault1" value="100 g" checked required>
                        {% else %}
                        <input class="form-check-input" value="0" type="radio" name="unite" id="flexRadioDefault1" value="100 g" required>
                        {% endif %}
                        <label class="form-check-label" for="flexRadioDefault1">
                            100 g
                        </label>
                    </div>
                    <div class="form-check">
                        {% if aliment.unite == 1 %}
                        <input class="form-check-input" value="1" type="radio" name="unite" id="flexRadioDefault2" value="1 portion" checked required>
                        {% else %}
                        <input class="form-check-input" value="1" type="radio" name="unite" id="flexRadioDefault2" value="1 portion" required>
                        {% endif %}
                        <label class="form-check-label" for="flexRadioDefault2">
                            1 portion
                        </label>
                    </div>
                    <div class="form-check">
                        {% if aliment.unite == 2 %}
                        <input class="form-check-input" value="2" type="radio" name="unite" id="flexRadioDefault3" value="100 mL" checked required>
                        {% else %}
                        <input class="form-check-input" value="2" type="radio" name="unite" id="flexRadioDefault3" value="100 mL" required>
                        {% endif %}
                        <label class="form-check-label" for="flexRadioDefault3">
                            100 mL
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-row text-center" style="padding-bottom: 0.5cm;">
                <div class="col-md-12">
                    <a href="{{ url_for('aliments') }}" class="btn btn-secondary">Annuler</a>
                    <input type="submit" value="Modifier" class="btn btn-primary">
                </div>
            </div>
        </form>               
    </div>
</div>

{% endblock %}