<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand ms-5" href="{{url_for('controllers.accueil')}}">
      <div class="d-flex align-items-center">
        <img src="{{url_for('static', filename='images/logo.png')}}" alt="logo" width="50" height="50" class="d-inline-block align-text-top">
        <span class="ms-2">NutritionApp</span>
      </div>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item {% if page == 'accueil' %}active{% endif %}">
        <a href="{{url_for('controllers.accueil')}}" class="nav-link">Accueil</a>
        </li>
        <li class="nav-item {% if page == 'dietes' %}active{% endif %}">
          <a href="{{url_for('controllers.dietes')}}" class="nav-link">Diètes</a>
        </li>
        <li class="nav-item {% if page == 'aliments' %}active{% endif %}">
          <a href="{{url_for('controllers.aliments')}}" class="nav-link">Aliments</a>
        </li>
        <li class="nav-item {% if page == 'reglages' %}active{% endif %}">
          <a href="{{url_for('controllers.reglages')}}" class="nav-link">Réglages</a>
        </li>
      </ul>
    </div>

    <ol class="breadcrumb fil_ariane">
      {% if breadcrumb|length > 1 %} {# si on n'est pas sur la page d'accueil #}
        {% set pretty_name = {
          'accueil': 'Accueil',
          'dietes': 'Diètes',
          'aliments': 'Aliments',
          'reglages': 'Réglages',
          'modifier_diete': 'Modifier diète',
          'changer_diete': 'Changer diète',
          'creer_aliment': 'Créer aliment',
          'detail': 'Détail diète',
          'modifier_aliment': 'Modifier aliment',
        } %}

        {% for item in breadcrumb %}
          {% if loop.last %}
            <li class="breadcrumb-item active" aria-current="page">{{pretty_name[item]}}</li>
          {% else %}
            {% set var = "controllers." + item %}
            <li class="breadcrumb-item"><a href="{{url_for(var)}}">{{pretty_name[item]}}</a></li>
          {% endif %}
        {% endfor %}
      {% endif %}
    </ol>
</nav>
{% include 'flash_messages.html' %}