{% extends 'base.html' %}

{% block content %}
{% set page = 'aliments' %}

{% set place = ["accueil","aliments","modifier_aliment"] %}
{% with breadcrumb=place %}
    {% include "navbar.html" %}
{% endwith %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/pages.css') }}">
              

<div class="dashboard-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <h4 class="card-title">Macronutriments</h4>
                        <h6 class="text-muted card-subtitle mb-2"></h6>
                        <div class="card_container">
                            <div class="card_container">
                                <div class="card_container">
                                    <canvas id="macro_chart" height="300"></canvas>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4">
                <div class="card-body card-2-2">
                    <div class="card-sub-element widget_numbers color-yellow">
                        <h3> 20 ans </h3>
                        <span class="info-little"> Terry Tempestini </span>
                    </div>
                    <div class="card-sub-element widget_numbers color-blue">
                        <h3> 170 cm </h3>
                        <span class="info-little"> Homme </span>
                    </div> 
                    <div class="card-sub-element widget_numbers color-red">
                        <h3> 68 kg </h3>
                        <span class="info-little"> IMC = 28.5 </span>
                    </div> 
                    <div class="card-sub-element widget_numbers color-green">
                        <h3> Actif </h3>
                        <span class="info-little badge badge-info">
                          <span class="badge badge-info">Vegan</span>
                        </span>
                    </div> 
                </div>
            </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title text-center">Besoins</h4>
                    <h6 class="text-muted card-subtitle mb-2"></h6>

                    <div class="card_container">
                        <canvas id="evolution_chart" width="300" height="250"></canvas>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                    <h4 class="card-title">Repas</h4>
                    <h6 class="text-muted card-subtitle mb-2"></h6>
                    
                    <div class="card_container content_hidden">
                        <canvas id="objectifs_chart" width="400" height="435"></canvas>
                    </div>

                </div>
            </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="gauche-droite">
                      <button class="btn btn-lg gauche-droite" type="button" data-toggle="collapse" data-target="#element1Content" aria-expanded="true" aria-controls="element1Content">
                        <i class="fa fa-angle-down"></i>
                      </button>
                      <span class="card-title">Diète</span>
                      <button class="btn btn-lg gauche-droite" type="button" data-toggle="collapse" data-target="#element1Content" aria-expanded="true" aria-controls="element1Content">
                        <i class="fa fa-angle-down"></i>
                      </button>
                  </div>
                    <h6 class="text-muted card-subtitle mb-2"></h6>
                    <div id="element1Content" class="collapse custom-collapse" aria-labelledby="element1Header" data-parent="#monAccordeon">
                      {% with diete=diete %}
                          {% include 'diete/liste_aliments_diete_test.html' %}
                      {% endwith %}
                  </div>                  
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/accueil.js') }}"></script>

{% endblock %}