{% extends 'base.html' %}

{% block content %}
{% set page = 'suivi' %}

{% set place = ["accueil","suivi"] %}
{% with breadcrumb=place %}
    {% include "navbar.html" %}
{% endwith %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/pages.css') }}">
<title>{% block title %} Suivi {% endblock %}</title>


<div class="suivi_window bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-7 mb-3">
                <form method="POST" action="{{ url_for('controllers.modifier_utilisateur', id=utilisateur.id) }}" id="suiviForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="date" class="form-control" id="dateInput" value="{{ today }}">
                    </div>
                    <div class="input-group separation">
                        <span class="input-group-text" id="poids">Poids</span>
                        <input type="number" id="poids" name="poids" class="form-control" placeholder="Poids du jour" required>
                        <span class="input-group-text">kg</span>
                    </div>
                    <div class="input-group separation">
                        <span class="input-group-text" id="poids">Taux de Masse Grasse</span>
                        <input type="number" id="taux" name="taux" class="form-control" placeholder="Taux" min="0" max="100" required>
                        <span class="input-group-text">%</span>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="input-group">
                                <span class="input-group-text" id="bras">Bras</span>
                                <input type="number" id="bras" name="bras" class="form-control" placeholder="Taille" required>
                                <span class="input-group-text">cm</span>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="input-group">
                                <span class="input-group-text" id="epaules">Épaules</span>
                                <input type="number" id="epaules" name="epaules" class="form-control" placeholder="Taille" required>
                                <span class="input-group-text">cm</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="input-group">
                                <span class="input-group-text" id="poitrine">Poitrine</span>
                                <input type="number" id="poitrine" name="poitrine" class="form-control" placeholder="Taille" required>
                                <span class="input-group-text">cm</span>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="input-group">
                                <span class="input-group-text" id="taille">Taille</span>
                                <input type="number" id="taille" name="taille" class="form-control" placeholder="Taille" required>
                                <span class="input-group-text">cm</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-text" id="cuisses">Cuisses</span>
                                <input type="number" id="cuisses" name="cuisses" class="form-control" placeholder="Taille" required>
                                <span class="input-group-text">cm</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-text" id="mollets">Mollets</span>
                                <input type="number" id="mollets" name="mollets" class="form-control" placeholder="Taille" required>
                                <span class="input-group-text">cm</span>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="col-md-5 mb-3 images_center text-center">
                <img src="{{ url_for('static', filename='images/homme_anatomy.png') }}" alt="imc" height="320px">
                <img src="{{ url_for('static', filename='images/femme_anatomy.png') }}" alt="imc" height="320px">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button type="submit" form="suiviForm" class="btn btn-primary">Valider</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="imc_window bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-3">
                <img src="{{ url_for('static', filename='images/graph_exemple.png') }}" alt="imc" height="200px" width="100%">
            </div>
        </div>
    </div>
</div>

{% endblock %}