{% extends 'base.html' %}

{% block content %}
{% set page = 'accueil' %}

{% set place = ["accueil","dietes","changer_diete"] %}
{% with breadcrumb=place %}
    {% include "navbar.html" %}
{% endwith %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/pages.css') }}">
<h1 class="title">{% block title %} Changer de diète {% endblock %}</h1> 

<div class="table_window bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% with options="changer",utilisateur=utilisateur.id %}
                    {% include "diete/liste_dietes.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <form action="{{ url_for('controllers.ajouter_diete') }}" method="POST" class="form-inline justify-content-center">
                <input type="text" id="titre" name="titre" class="form-control" placeholder="Créer une diète" required>
                <button type="submit" class="btn btn-primary">Valider</button>
            </form>
        <div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/liste_dietes.js') }}"></script>
{% endblock %}
