<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{{root}}{{ url_for('static', filename='css/base.css') }}">
    <style>
        html{
            font-size: 16px;
        }
    </style>
    <link rel="stylesheet" href="{{root}}{{ url_for('static', filename='css/pages.css') }}">
</head>
<body>

    <div class="content_pdf">
        {% set percent = [10, 45, 10, 10, 10, 15] %}
        {% set meal_names = ['Matin', 'Collation', 'Midi', 'Collation', 'Soir', 'Collation'] %}
        {% set unites_names = ['g', '', 'mL'] %}

        <h1 class="text-center">{{ diete.titre_diete }}</h1>

        {% for repas in diete.sets_of_portions() %}
            <table class="table table-striped table-bordered full-width-table">
                <tr>
                    <th colspan="2" style="padding-left: 10px;">
                        {{ meal_names[loop.index - 1] }}
                    </th>
                    <td style="width: {{ percent[5] }}%">Kcal</th>
                </tr>

                {% for portion in repas %}
                
                    <tr class="text-center">
                        <td style="width: {{ percent[0] }}%">{{ portion.nombre }} {{ unites_names[portion.aliment_obj.unite] }}</td>
                        <td style="width: {{ percent[1] }}%">{{ portion.aliment_obj.titre }}</td>
                        <td style="width: {{ percent[5] }}%">{{ portion.kcal_portion() }}</td>
                    </tr>

                {% endfor %}

                <tr class="text-center totalRow" id="totalRow{{ loop.index - 1 }}">
                    <th colspan="2" style="padding-left: 10px;">Total</th>
                    <td style="width: {{ percent[5] }}%">{{ diete.total_kcal_portion(loop.index)|round|int }} kcal</td>
                </tr>
            </table>
        {% endfor %}
        <table class="table table-striped table-bordered">
            <tr class="text-center">
                <th style="width: {{ percent[0] + percent[1] }}%">Total</th>
                <td style="width: {{ percent[2] }}%">{{ diete.total_proteines()|round|int }} g</td>
                <td style="width: {{ percent[3] }}%">{{ diete.total_glucides()|round|int }} g</td>
                <td style="width: {{ percent[4] }}%">{{ diete.total_lipides()|round|int }} g</td>
                <td style="width: {{ percent[5] }}%">{{ diete.total_kcal()|round|int }} kcal</td>
            </tr>
        </table>
    </div>
</body>
<footer>
</footer>
</html>