{% extends 'base.html' %}

{% block content %}
{% set page = 'dietes' %}

{% set place = ["accueil","dietes"] %}
{% with breadcrumb=place %}
    {% include "navbar.html" %}
{% endwith %}

<title>{% block title %} Diètes {% endblock %}</title>

<div class="edit_window bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form action="{{ url_for('controllers.ajouter_diete') }}" method="POST" class="form-inline justify-content-center">
                    <input type="text" id="titre" name="titre" class="form-control mb-3" placeholder="Créer une diète" required>
                    <button type="submit" class="btn btn-primary mb-3">Valider</button>
                </form>
            </div>

            <div class="col-md-6">
                <div class="row text-center">
                    <div class="col-md-10 mb-3">
                        <form method="post" action="{{ url_for('controllers.importer_csv') }}" enctype="multipart/form-data">
                            <input class="form-control" type="file" id="fichier_csv" name="fichier_csv" onchange="checkFileSelected()">                            
                    </div>
                    <div class="col-md-2 mb-3">
                            <button type="submit" class="btn btn-primary" id="bouton_importer" disabled>Importer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="table_window bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% with options="voir" %}
                    {% include "diete/liste_dietes.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/dietes.js') }}"></script>
<script src="{{ url_for('static', filename='js/liste_dietes.js') }}"></script>

{% endblock %}