<link rel="stylesheet" href="{{ url_for('static', filename='css/pages.css') }}">
        {% set current_label = [] %}
        {# nb , titre , proteines , glucides , lipides , kcal #}
        {# 10% , 50 % , 10% , 10% , 10% , 10% #}
        {% set percent = [10, 45, 10, 10, 10, 15] %}
        {% for portion in diete.portions_associees() %}
            {% if current_label[-1] != portion.label_portion %}
                    <table class="table table-striped table-bordered full-width-table">
                        {% do current_label.append(portion.label_portion) %}
                            <tr>
                                <th colspan="6" style="padding-left: 10px;">
                                    {% if current_label[-1] == 1 %}
                                        Matin
                                    {% elif current_label[-1] == 3 %}
                                        Midi
                                    {% elif current_label[-1] == 5 %}
                                        Soir
                                    {% else %}
                                        Collation
                                    {% endif %}
                                </th>
                            </tr>
                {% endif %}
                        <tr class="text-center">
                                {% if portion.aliment_obj.unite == 0 %}
                                <td style="width: {{ percent[0] }}%">{{ portion.nombre }} g</td>
                                <td style="width: {{ percent[1] }}%">{{ portion.aliment_obj.titre }}</td>
                                {% elif portion.aliment_obj.unite == 1 %}
                                <td style="width: {{ percent[0] }}%">{{ portion.nombre }}</td>
                                <td style="width: {{ percent[1] }}%">{{ portion.aliment_obj.titre }}</td>
                                {% else %}
                                <td style="width: {{ percent[0] }}%">{{ portion.nombre }} mL</td>
                                <td style="width: {{ percent[1] }}%">{{ portion.aliment_obj.titre }}</td>
                                {% endif %}

                                <td style="width: {{ percent[2] }}%">{{ portion.proteines_portion() }} g/P</td>
                                <td style="width: {{ percent[3] }}%">{{ portion.glucides_portion() }} g/G</td>
                                <td style="width: {{ percent[4] }}%">{{ portion.lipides_portion() }} g/L</td>

                                <td style="width: {{ percent[5] }}%">{{ portion.kcal_portion() }} kcal</td>
                        </tr>
        {% endfor %}
        </table>
        <table class="table table-striped table-bordered">
            <tr class="text-center">
                <th style="width: {{ percent[0] + percent[1] }}%">Total</th>
                <td style="width: {{ percent[2] }}%">{{ diete.total_proteines()|round|int }} g/P</td>
                <td style="width: {{ percent[3] }}%">{{ diete.total_glucides()|round|int }} g/G</td>
                <td style="width: {{ percent[4] }}%">{{ diete.total_lipides()|round|int }} g/L</td>
                <td style="width: {{ percent[5] }}%">{{ diete.total_kcal()|round|int }} kcal</td>
            </tr>
        </table>
